@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 24 14% 7%;
    --primary-foreground: 240 4% 95%;

    --secondary: 240 4% 95%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --tertiary: 228 2% 49%;
    --tertiary-foreground: 240 4% 95%;

    --accent: 29 34% 77%;
    --accent-foreground: 24 14% 7%;

    --destructive: 11 100% 70.6%;
    --destructive-foreground: 210 40% 98%;

    --warning: 60 91.9% 71%;
    --warning-foreground: 222.2 47.4% 11.2%;

    --success: 128 83.3% 90.6%;
    --success-foreground: 210 40% 98%;

    --pending: 210 40% 96.1%;
    --pending-foreground: 222.2 47.4% 11.2%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
